@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

body {
    background-image: url(assets/bg.png);
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
}

nav {
    background-color: rgba(75, 75, 75, 0.486);
    font-size: 30px;
    font-weight: bolder;
    height: 8vh;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    display: flex;
}

#navtext {
    justify-content: center;
    text-align: center;
}

nav #logo {
    margin-left: 0.5vw;
    height: 7vh;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

li {
    list-style: none;
}

.main {
    display: flex;
}

.button {
    background-color: #FF4F4F;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4px;
  }
  
  .button:hover {
    background-color: #8345a0;
  }
  
  .button:active {
    background-color: #8345a0;
  }
a {
    color: white;
}

.downloads {
    margin-left: -10px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    border-style: dashed;
    width: 98.9vw;
    border-radius: 20px;
    padding-bottom: 10px;
}

nav .buttons {
    position: absolute;
    display: inline-flex;
    padding-left: 82%;
}

.downloads .button {
    align-self: center;
    display: flex;
    margin-block: auto;
    margin-left: auto;
    margin-right: auto;
    position: static;
    align-self: center;
    width: 190px;
}

.downloads #text {
    font-size: 50px;
}

.main {
    height: 100vh;
}

.description {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    height: fit-content;
    width: 50vw;
    font-size: large;
    border-radius: 15px;
    transform: scale(0.8);
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(1.5rem);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.description #text {
    filter: none;
}

footer {
    text-align: center;
    font-size: small;
    display: block;
    padding-top: 10px;
    height: 10vh;
}

.supported {
    display: inline-flex;
    align-self: center;
    align-items: center;
}

#supported {
    transform: scale(2.5);
    padding: 10px;
    margin-right: 20px;
}

#supported:last-child {
    margin-right: 0;
}